* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 71px;
    padding: 12px;
}

.main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.main__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__title h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.main__information h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

.main__information p {
    width: 95%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}


/*grid*/

.main__team__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.grid__item {
    position: relative;
}

.absol {
    width: 100%;
    position: absolute;
    top: 90px;
    right: -70px;
}

.image {
    width: 85%;
}

.image img {
    width: 100%;
    height: auto;
}

.member__position {
    transform: rotate(90deg);
    font-size: 10px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 13.25px;
}

.member__name {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.--item-2 {
    margin-top: 38px;
}